name: Test

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: python:3.11

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt-get update --yes
          apt-get install --yes meson ninja-build build-essential

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install pytest
          pip install .

      - name: Run tests
        run: pytest test
